<!DOCTYPE html>
 {% load static %}
<html>
    <head>

        <meta charset="utf-8">
        <title>Registration</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <link rel="stylesheet" type="text/css" href="{% static 'login/css/bootstrap.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'login/css/login.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'login/css/animationn.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'login/css/animate.css' %}">

        <script  src="{% static 'login/js/main.js' %}"></script>
        <script  src="{% static 'login/js/bootstrap.js' %}"></script>
    </head>
    <body class="form-v4">        
        <div class="page-content">
            <div class="form-v4-content">
                <form class="form-detail" action="login" method="POST" id="myform">
                    {% csrf_token %}
                    <h2 style="text-align: center;">REGISTRATION FORM</h2>
                    <div class="form-group">
<!--                        <div class="form-row form-row-1">
                            <label>Your Id</label>
                            <input type="text" name="sid" id="first_Name" class="input-text" onblur="valid()">
                            <p id="pera" style="display: none; color: red; margin-top: -20px; font-size: 13px;"></p>
                        </div>-->
                        <div class="form-row form-row-1">
                            <label>Your Name</label>
                            <input style="border-radius: 25px;" type="text" name="ClientName" id="last_Name" class="input-text" onblur="valid1()" required>
                            <p id="lastn" class="animated fadeInLeft" style="display: none; color: red; margin-top:-20px;font-size: 13px;text-shadow: 2px 2px 4px gray;font-weight: 800;"></p>
                        </div>

                        <div class="form-row form-row-1">
                            <label>Gender</label>
                            <select name="Gender" id="last_name" required>
                                <option name="Male"   value="Male">Male</option>
                                <option name="Female"   value="Female">Female</option>
                                <option name="Others"   value="Others">Others</option>
                            </select>
                        </div>
                      </div>

                        <div class="form-row">
                        <label>Phone</label>
                        <input style="border-radius: 25px;" type="text" name="ContactNo" id="phone" class="input-text" onkeyup="valid3()" required>
                        <p id="phon" class="animated fadeInLeft" style="display: none; color: red; margin-top:-20px;font-size: 13px;text-shadow: 2px 2px 4px gray;font-weight: 800;"></p>
                        </div>

                        <div class="form-row">
                        <label>Email</label>
                        <input style="border-radius: 25px;" type="text" name="Email" id="your_email" class="input-text" required pattern="[^@]+@[^@]+.[a-zA-Z]{2,6}" onkeyup="ValidateEmail()" required>
                        <p id="eml" class="animated fadeInLeft" style="display: none; color: red; margin-top:-20px;font-size: 13px;text-shadow: 2px 2px 4px gray;font-weight: 800;"></p>
                        </div>

                        <div class="form-group">
                        <div class="form-row form-row-1 ">
                            <label>Password</label>
                            <input style="border-radius: 25px;" type="password" name="ClientPassword" id="password" class="input-text" required onblur=" ValidatePassword()" required>
                            <p id="pass" class="animated fadeInLeft" style="display: none; color: red; margin-top:-20px;font-size: 13px;text-shadow: 2px 2px 4px gray;font-weight: 800;"></p>
                        </div>
                        <div class="form-row form-row-1">
                            <label>Confirm Password</label>
                            <input style="border-radius: 25px;" type="password" name="comfirm_password" id="comfirm_password" class="input-text"  required onblur="validconfirmpass()" required>
                            <p id="cpass" class="animated fadeInLeft" style="display: none; color: red; margin-top:-20px;font-size: 13px;text-shadow: 2px 2px 4px gray;font-weight: 800;"></p>
                        </div>
                       </div>
                    
                    
                      <div class="form-group">
                        <div class="form-row form-row-1">
                            <label>Division</label>
                            <select name="Division" required>
                                <option name="Dhaka"   value="Dhaka">Dhaka</option>
                                <option name="Chittagong"   value="Chittagong">Chittagong</option>
                                <option name="Barisal"   value="Barisal">Barisal</option>
                                <option name="Khulna"   value="Khulna">Khulna</option>
                                <option name="Syhet"   value="Syhet">Syhet</option>
                                <option name="Rajshahi"   value="Rajshahi">Rajshahi</option>
                                <option name="Rangpur"   value="Rangpur">Rangpur</option>
                                <option name="Mymansing"   value="Mymansing">Mymansing</option>
                            </select>
                        </div>
                           <div class="form-row form-row-1">
                            <label>District</label>
                            <select name="District" required>
                                <option name="Brahmanbaria"   value="Brahmanbaria">Brahmanbaria</option>
                                <option name="Comilla"   value="Comilla">Comilla</option>
                                <option name="Jessore"   value="Jessore">Jessore</option>
                                <option name="Rangpur"   value="Rangpur">Rangpur</option>
                                <option name="Dinajpur"   value="Dinajpur">Dinajpur</option>
                                <option name="Narayangong"   value="Narayangong">Narayangong</option>
                                <option name="Kustia"   value="Kustia">Kustia</option>
                                <option name="Jamalpur"   value="Jamalpur">Jamalpur</option>
                            </select>
                        </div>
                    </div>
                    
                    
                     <div class="form-group">
                        <div class="form-row form-row-1">
                            <label>Upazila</label>
                            <select name="Upazila" required>
                                <option name="Kasba"   value="Kasba">Kasba</option>
                                <option name="Rangpur Sadar"   value="Rangpur Sadar">Rangpur Sadar</option>
                                <option name="Kesuppur"   value="Kesuppur">Kesuppur</option>
                                <option name="Bagharpara"   value="Bagharpara">Bagharpara</option>
                                <option name="Nangolkut"   value="Nangolkut">Nangolkut</option>
                                <option name="Bakergong"   value="Bakergong">Bakergong</option>
                                <option name="Babugong"   value="Babugong">Babugong</option>
                                <option name="Damurhat"   value="Damurhat">Damurhat</option>
                                <option name="Mithapukur"   value="Mithapukur">Mithapukur</option>
                            </select>
                        </div>
                           <div class="form-row form-row-1">
                            <label>Post Office</label>
                            <select name="Postoffice">
                                <option name="Namtabad"   value="Namtabad">Namtabad</option>
                                <option name="Bangharda"   value="Bangharda">Bangharda</option>
                                <option name="Shahebgong"   value="Shahebgong">Shahebgong</option>
                                <option name="Rangpur-Sadar"   value="Rangpur-Sadar">Rangpur-Sadar</option>
                                <option name="Babugong"   value="Babugong">Babugong</option>
                                <option name="HazraHati"   value="HazraHati">HazraHati</option>
                                <option name="Hazigong"   value="Hazigong">Hazigong</option>
                            </select>
                        </div>
                    </div>
                   
                    
                    
                    <div class="form-checkbox">
                        <label class="container">
                         <p>I agree to the <a href="#" class="text">Terms and Conditions</a></p>
                            <input type="checkbox" name="checkbox" id="reg" onclick="myFunction()" required>
                            <span class="checkmark"></span>
                        </label>
                    </div>
                    
                    <input type="Submit" name="submit" class="register" value="Register" id="ok" style="display: none;"> 
                </form>
            </div>
                           
        </div>
        
        <script>
        function myFunction() {
        if(document.getElementById('reg').checked==true)
        {
        document.getElementById("ok").disabled = false;
        document.getElementById('ok').style.display="block";
        }
        if(document.getElementById('reg').checked==false)
        {
        document.getElementById('ok').disabled=true;
        document.getElementById('ok').style.display="none";
        }
        }
        function valid(){
        if(document.getElementById('first_Name').value==""){
        document.getElementById('pera').style.display="block";
        document.getElementById('pera').innerHTML="Please enter your ID (ex:101,id100)";
        }
        else{
        document.getElementById('pera').style.display="none";
        }
        }
        function valid1(){
        if(document.getElementById('last_Name').value==""){
        document.getElementById('lastn').style.display="block";
        document.getElementById('lastn').innerHTML="Please enter your Name (ex:Abu Bakkar Siddik)";
        }
        else{
        document.getElementById('lastn').style.display="none";
        }
        }
        function valid2(){
        if(document.getElementById('address').value==""){
        document.getElementById('addres').style.display="block";
        document.getElementById('addres').innerHTML="Please Provide your valid Address (ex:12/A/1, dhanmondhi, dhaka)";
        }
        else{
        document.getElementById('addres').style.display="none";
        }
        }
        function valid3(){
        if(document.getElementById('phone').value=="" || document.getElementById('phone').value.length <11){
        document.getElementById('phon').style.display="block";
        document.getElementById('phon').innerHTML="Should be a number or not empty and length must be =>11 (ex:01689040992)";
        }
        else{
        document.getElementById('phon').style.display="none";
        }
        }
        function ValidateEmail(){
        var a=document.getElementById("your_email").value;
        var regrxp=/^([0-9a-zA-Z]([-.\w]*[0-9a-zA-Z])*@([0-9a-zA-Z][-\w]*[0-9a-zA-Z]\.)+[a-zA-Z]{2,9})$/;
        if (regrxp.test(a)){
        document.getElementById('eml').style.display="none";
        }
        else{
            document.getElementById('eml').style.display="block";
        document.getElementById('eml').innerHTML="Provide your correct E-mail(ex:abubakkarsiddik32@hotmail.com)";
        }
        }
        function ValidatePassword(){
        var a=document.getElementById("password").value;
        var regrxp=/^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{4,16}$/;
        if (regrxp.test(a)){
        document.getElementById('pass').style.display="none";
        }
        else{
        document.getElementById('pass').style.display="block";
        document.getElementById('pass').innerHTML="Provide your correct password(ex:asD1 | asDF1234 | ASPgo123)";
        }
        }
        function validconfirmpass(){
        var a=document.getElementById("password").value;
        var b=document.getElementById("comfirm_password").value;
        if(a!=b){
        document.getElementById('cpass').style.display="block";
        document.getElementById('cpass').style.color="red";
        document.getElementById('cpass').innerHTML="**Should be Same**";
        }
        else{
        document.getElementById('cpass').style.display="block";
        document.getElementById('cpass').style.color="green";
        document.getElementById('cpass').innerHTML="Password Matched!";   
        }
        }
        
        </script>
    </body>
</html>
